// .dockerignore
node_modules
npm-debug.log
*.env
.DS_Store
.env
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
dist/
public/upload
logs/
ormconfig.json
deploy.sh
.log
/logs
.logs

node_modules
dist
npm-debug.log
Dockerfile
.git